<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
<section>

<div class="hero-section">
    <div class="section-content">
        <div class="hero-details">
            <h2 class="title">Best Coffee</h2>
            <h3 class="subtitle">Make your day great with our coffee!</h3>
            <p class="description">Welcome to coffee paradise, where every bean tells a story and every cup sparks joy.</p>

            <div class="buttons">
                <a class="button order-now"  >Order Now</a>
                <a class="button contact-us" >Contact Us</a>
            </div>
            <div class="hero-image-wrapper">
                <img src="/images/coffee-hero-section.png" alt="Hero" class="hero-image">
            </div>
        </div>
    </div>
</div>
</section>
</main>
</body>
</html>